.container{
    display: flex;
    justify-content: center;
    width: 65%;
    margin: 30px;
}

@media (max-width: 770px){ /* for mobile devices - making chart larger */
    .card{
        width: 100%;
    }
}