.container{
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;  /* !important needed since .card is a materialUI element is not being styled inline*/
}

.infected {
    border-bottom: 10px solid rgba(0,0,255,0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0,255,0,0.5)
}

.deaths {
    border-bottom: 10px solid rgba(255,0,0,0.5)
}

@media (max-width: 770px){ /* for mobile devices - top/bottom padding between cards */
    .card{
        margin: 2% 0 !important; /* !important needed since .card is a materialUI element is not being styled inline*/
    }
}