.container{
    margin: 10px 0;
    width: 1000px;
}

.card {
    margin: 30px 0 !important; /* !important needed since .card is a materialUI element is not being styled inline*/
}

.infected {
    border-top: 10px solid rgb(108, 92, 231);
    border-bottom: 10px solid rgb(108, 92, 231);
}

.active{
    border-top: 10px solid rgb(9, 132, 227);
    border-bottom: 10px solid rgb(9, 132, 227);
}
.recovered {
    border-top: 10px solid rgb(0, 184, 148);
    border-bottom: 10px solid rgb(0, 184, 148);
}

.deaths {
    border-top: 10px solid rgb(225, 112, 85);
    border-bottom: 10px solid rgb(225, 112, 85);
}

@media (max-width: 770px){ /* for mobile devices - top/bottom padding between cards */
    .card{
        margin: 2% 0 !important; /* !important needed since .card is a materialUI element is not being styled inline*/
    }
}