body{
    background-color: rgb(236, 240, 241);
}

.container {
    display:flex;
    align-items: center;
    justify-content: left;
    flex-direction: column; /* places components beneath each other */
}

.banner{
    display: block;
}
.image{
    width: 430px;
    margin: 10px;
    display: inline-block;
}

.more{
    display: inline-block;
    border: 1px solid black;
    color: rgb(108, 92, 231);
}

@media (max-width: 770px){  /* for mobile devices */
    .container{
        margin: 0 10%;
    }

    .image{
        width: 100%;
    }
}