body{
    /*background-color: rgb(236, 240, 241);*/

    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(-45deg, #FFDDE2FF, #FAA094FF, #9ED9CCFF, #008C76FF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.container {
    display:flex;
    align-items: center;
    justify-content: left;
    flex-direction: column; /* places components beneath each other */
}

.banner{
    display: block;
}
.image{
    width: 430px;
    margin: 10px;
    display: inline-block;
}

.more{
    display: inline-block;
    border: 1px solid black;
    color: rgb(108, 92, 231);
}

@media (max-width: 770px){  /* for mobile devices */
    .container{
        margin: 0 10%;
    }

    .image{
        width: 100%;
    }
}