body{
    background-color: rgb(223, 230, 233);
}

.container {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column; /* places components beneath each other */
}

.image{
    width: 430px;
    margin: 10px;
}

@media (max-width: 770px){  /* for mobile devices */
    .container{
        margin: 0 10%;
    }

    .image{
        width: 100%;
    }
}